# samatsum
samatsum <zunandkun@gmail.com> Sanshiro Matsumoto <134676641+samatsum@users.noreply.github.com>
samatsum <zunandkun@gmail.com> <134676641+samatsum@users.noreply.github.com>

# cacapon (つぼ)
cacapon <cacapon.project@gmail.com> Cacapon Project <cacapon.project@gmail.com>
cacapon <cacapon.project@gmail.com> <47442969+cacapon@users.noreply.github.com>

# kkur0z (クロセ)
kkur0z <100600049+kkur0z@users.noreply.github.com> Kazuta Kurose <kazyxwvkuvwxyz@gmail.com>
kkur0z <100600049+kkur0z@users.noreply.github.com> <kazyxwvkuvwxyz@gmail.com>

# tvaroux (トム)
tvaroux <tomtomvrx@gmail.com> TOM VAROUX <tomvaroux@tioemunonotobukkukonpyuta.local>
tvaroux <tomtomvrx@gmail.com> tomtomvx <tomtomvrx@gmail.com>
tvaroux <tomtomvrx@gmail.com> <tomvaroux@tioemunonotobukkukonpyuta.local>

# kmitsuki (キミツキ)
kmitsuki <mitukikamimura0@gmail.com> Mitsuki Kamimura <mitukikamimura0@gmail.com>
kmitsuki <mitukikamimura0@gmail.com> kmitsuki <204528104+mitsukio-o@users.noreply.github.com>
kmitsuki <mitukikamimura0@gmail.com> <204528104+mitsukio-o@users.noreply.github.com>

# tototec1234 (井上)
tototec1234 <96733027+tototec1234@users.noreply.github.com> Torinoue42 <torinoue@student.42tokyo.jp>
tototec1234 <96733027+tototec1234@users.noreply.github.com> <torinoue@student.42tokyo.jp>
tototec1234 <96733027+tototec1234@users.noreply.github.com> <20191003@mst.meiji-u.ac.jp>
